@import '../../assets/styles/global';

.navbar {
    height: 100%;
    display: flex;
    align-items: center;
    padding:  8px 24px;
    justify-content: end;

    &-user {
        display: flex;
        gap: 12px;
        align-items: center;
        cursor: pointer;
    }

    &-user__text {
        font-size: 16px;
        color: $gray-500;
    }

    &-image {
        border-radius: 100%;
        border: 1px solid $gray-300;
    }
    
}