@import '../../assets/styles/global';

.product-form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-header {
        display: flex;
        gap: 8px;
        align-items: center;

        &__title {
            font-weight: 700;
            color: $primary-color;
        }

    }
    
}